@media screen and (min-width: 992px) {
    #exampleAccordion {
        border-right: medium solid #e9ecef;
        border-top: medium solid #e9ecef;
    }
    #mainNav.fixed-top .navbar-sidenav {
        height: calc(100vh);
    }
}
.usuario, .role {
    cursor: initial !important;
    color: rgba(255, 255, 255, .5) !important;
    padding: .5rem 1rem !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    display: block !important;
}
b, strong {
    font-weight: normal;
}
.navbar-brand:hover {
    font-weight: 600;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #e9ecef !important;
}

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:white;
}
a:hover{
	color:#0056b3;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#0056b3;
}
.square{
  box-sizing:border-box;
  margin-left:-0.6em;
  position:relative;
  font-size:1.5em;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:90%;
  padding:0.2em 0.7em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:0.35rem;
  height:0;
  background:#0056b3;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square.individual:before{
  transition-delay:0.6s;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square.individual:after{
  transition-delay:0.2s;
}
.square a:before{
  left:0;
  transition:0.25s all ease;
}
.square a:after{
  right:0;
  transition:0.25s all ease;
}
.square.individual a:after{
  transition:0.25s all ease 0.4s;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover a:before,.square:hover a:after{
  width:100%;
}

.dropdown-toggle::after {
    content: "" !important;
}
.dropdown-menu {
    left: -6rem;
    min-width: 19rem;
    max-width: 19rem;
}
.dropdown-item {
    color: #212529 !important;
    white-space: unset;
}
.dropdown-item:active {
    background-color: unset !important;
}
.dropdown-item i.fa.fa-trash {
    font-size: 20px;
    color: #868e96;
}
.dropdown-bottom {
    color: #868e96 !important;
}
.dropdown-bottom:hover {
    color: #212529 !important;
}
.dropdown-item i.fa.fa-trash:hover {
    color: #212529 !important;
}
.dropdown-bottom:hover {
    color: black !important;
}
a.dropdown-item.small {
    text-align: center;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link::after {
    width: 0;
}
.mr-lg-2, .mx-lg-2 {
    margin-right: unset !important;
}