{% extends 'base.html' %}

{% block title %}<title>Riego</title> {% endblock title %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/bootstrap-clockpicker.min.css" type="text/css">
{#        <link href="{{ url_for('static', filename='css/bootstrap-clockpicker.min.css') }}" rel="stylesheet">#}
{% endblock css %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/relay_state.js') }}"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript" src="/static/js/bootstrap-clockpicker.min.js"></script>
    <script type="text/javascript" src="/static/js/highlight.min.js"></script>
{% endblock scripts %}


{% block into_content %}
    <div class="row">
        <div class="col-12">
            <h1>Riego</h1>
            <p>Aquí un botón para el riego</p>
            <div>
                <div class="container">
                    <div class="col-md-12">
                        <form class="form-incidencia" action="{{ url_for('handle_data') }}" method="post">
                            <div id="incidencia-form" class="form-container" data-form-container>
                                <div class="row form-group col-md-5 -align-center">
                                    <label class="col-form-label">Estado del riego</label>
                                    <select name="irrigation_state" class="form-control" id="exampleSelect0"
                                            required>
                                        <option selected disabled hidden style='display: none' value=''>ON/OFF
                                        </option>
                                        <option>ON</option>
                                        <option>OFF</option>
                                    </select>
                                    <div class="row">
                                        <div class="container">
                                            <input class="btn btn-block btn-block-incidencia submit-form"
                                                   id="submit-incidencia" name="submit-incidencia"
                                                   value="Enviar"
                                                   type="submit">
                                        </div>
                                        <div class="container">
                                            <h5>Estado del riego: <span id="state">?</span>
                                                <p><a href=# id="relay_state">state from server</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2>Programción del riego</h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3 clockpicker-with-callbacks" data-autoclose="true">
                                                <input type="text" class="form-control" placeholder="Hora"
                                                       aria-label="Hora"
                                                       aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button"><i
                                                            class="far fa-clock"></i></button>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                var input = $('#single-input').clockpicker({
                                                    placement: 'bottom',
                                                    align: 'left',
                                                    autoclose: true,
                                                    'default': 'now'
                                                });
                                            </script>
                                            <script type="text/javascript" src="/static/js/clockpicker.js"></script>



                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock into_content %}

